body {
    background-color: rgb(155, 155, 155);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    border: 1px solid rgb(114, 0, 0);
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}

.description,
.statsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.statsItem:not(:last-child) {
    margin-right: 15px;
}

.name {
    font-size: 25px;
    font-weight: 900px;

}

.tag {
    color: rgb(255, 255, 255);
}

.location {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.label {
    color: rgb(255, 1, 1);
}

.quantity {
    color: rgb(0, 0, 0);
}