.transactionHistory {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(128, 0, 0);
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

}

.title {
    font-size: 25px;
    font-weight: 800px;
    color: rgb(0, 0, 0);
}

.tr {
    gap: 10px;
}

.td {
    width: 200px;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid rgb(124, 1, 1);
    color: rgb(78, 78, 78);
}

.tt {

    width: 200px;
    height: 40px;
    text-align: center;
    color: rgb(143, 143, 143);
    border-bottom: 1px solid rgb(124, 1, 1);
    border-left: 1px solid rgb(124, 1, 1);
    border-right: 1px solid rgb(124, 1, 1);
}